*
* @example
<example>
    <file name="index.html">
        <div ng-controller="FetchCtrl">
            <select ng-model="method">
                <option>GET</option>
                <option>JSONP</option>
            </select>
            <input type="text" ng-model="url" size="80"/>
            <button id="fetchbtn" ng-click="fetch()">fetch</button><br>
            <button id="samplegetbtn" ng-click="updateModel('GET', 'http-hello.html')">Sample GET</button>
            <button id="samplejsonpbtn"
                    ng-click="updateModel('JSONP',
             'http://angularjs.org/greet.php?callback=JSON_CALLBACK&name=Super%20Hero')">
                Sample JSONP
            </button>
            <button id="invalidjsonpbtn"
                    ng-click="updateModel('JSONP', 'http://angularjs.org/doesntexist&callback=JSON_CALLBACK')">
                Invalid JSONP
            </button>
            <pre>http status code: {{status}}</pre>
            <pre>http response data: {{data}}</pre>
        </div>
    </file>
    <file name="script.js">
        function FetchCtrl($scope, $sailsSocket, $templateCache) {
        $scope.method = 'GET';
        $scope.url = 'http-hello.html';

        $scope.fetch = function() {
        $scope.code = null;
        $scope.response = null;

        $sailsSocket({method: $scope.method, url: $scope.url, cache: $templateCache}).
        success(function(data, status) {
        $scope.status = status;
        $scope.data = data;
        }).
        error(function(data, status) {
        $scope.data = data || "Request failed";
        $scope.status = status;
        });
        };

        $scope.updateModel = function(method, url) {
        $scope.method = method;
        $scope.url = url;
        };
        }
    </file>
    <file name="http-hello.html">
        Hello, $sailsSocket!
    </file>
    <file name="protractor.js" type="protractor">
        var status = element(by.binding('status'));
        var data = element(by.binding('data'));
        var fetchBtn = element(by.id('fetchbtn'));
        var sampleGetBtn = element(by.id('samplegetbtn'));
        var sampleJsonpBtn = element(by.id('samplejsonpbtn'));
        var invalidJsonpBtn = element(by.id('invalidjsonpbtn'));

        it('should make an xhr GET request', function() {
        sampleGetBtn.click();
        fetchBtn.click();
        expect(status.getText()).toMatch('200');
        expect(data.getText()).toMatch(/Hello, \$sailsSocket!/);
        });

        it('should make a JSONP request to angularjs.org', function() {
        sampleJsonpBtn.click();
        fetchBtn.click();
        expect(status.getText()).toMatch('200');
        expect(data.getText()).toMatch(/Super Hero!/);
        });

        it('should make JSONP request to invalid URL and invoke the error handler',
        function() {
        invalidJsonpBtn.click();
        fetchBtn.click();
        expect(status.getText()).toMatch('0');
        expect(data.getText()).toMatch('Request failed');
        });
    </file>
</example>